DB_HOST=localhost
DB_PORT=5432
DB_NAME=miso_elt
DB_USER=miso_app
DB_PASSWORD=
DB_READONLY_USER=miso_readonly_user
DB_READONLY_PASSWORD=
API_KEY=
ENVIRONMENT=development
LOG_LEVEL=DEBUG
SNS_ALERT_TOPIC_ARN=
AWS_EC2_METADATA_DISABLED=true